In [19]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import joblib
import pickle

In [20]:
df = pd.read_csv(r'C:\Users\ASUS\Downloads\Dataset Salaray Prediction\train_features.csv')

D:\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0,1,2,3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [21]:
df.head()

,jobId,companyId,jobType,degree,major,industry,yearsExperience,milesFromMetropolis,salary
0,JOB1362684407687,COMP37,CFO,MASTERS,MATH,HEALTH,10.0,83.0,130
1,JOB1362684407688,COMP19,CEO,HIGH_SCHOOL,NONE,WEB,3.0,73.0,101
2,JOB1362684407689,COMP52,VICE_PRESIDENT,DOCTORAL,PHYSICS,HEALTH,10.0,38.0,137
3,JOB1362684407690,COMP38,MANAGER,DOCTORAL,CHEMISTRY,AUTO,8.0,17.0,142
4,JOB1362684407691,COMP7,VICE_PRESIDENT,BACHELORS,PHYSICS,FINANCE,8.0,16.0,163

In [22]:
df.drop(['jobId','companyId','major','industry','milesFromMetropolis'],axis=1,inplace=True)

In [23]:
df.head()

          jobType       degree  yearsExperience  salary
0             CFO      MASTERS             10.0     130
1             CEO  HIGH_SCHOOL              3.0     101
2  VICE_PRESIDENT     DOCTORAL             10.0     137
3         MANAGER     DOCTORAL              8.0     142
4  VICE_PRESIDENT    BACHELORS              8.0     163

In [24]:
df['jobType'].unique()

array(['CFO', 'CEO', 'VICE_PRESIDENT', 'MANAGER', 'JUNIOR', 'JANITOR',
       'CTO', 'SENIOR', nan], dtype=object)

In [25]:
df['degree'].unique()

array(['MASTERS', 'HIGH_SCHOOL', 'DOCTORAL', 'BACHELORS', 'NONE', nan],
      dtype=object)

In [27]:
df.dropna(inplace=True)

In [28]:
df.isnull().sum()

jobType            0
degree             0
yearsExperience    0
salary             0
dtype: int64

In [29]:
df['jobType'] = df['jobType'].map( {'CFO':1, 'CEO':2, 'VICE_PRESIDENT':3, 'MANAGER':4, 'JUNIOR':5, 'JANITOR':6,
       'CTO':7, 'SENIOR':8,} ).astype(int)

In [30]:
df['degree'] = df['degree'].map( {'MASTERS':1, 'HIGH_SCHOOL':2, 'DOCTORAL':3, 'BACHELORS':4, 'NONE':5} ).astype(int)

In [32]:
X=df.drop('salary',axis=1)
y=df['salary']

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [34]:
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [36]:
joblib.dump(reg, 'income.pkl')

['income.pkl']